html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
  }
  h1 {
    font-size: 1.8rem;
    color: white;
  }
  p {
    font-size: 1.4rem;
  }
  .topnav {
    overflow: hidden;
    background-color: #0A1128;
  }
  body {
    margin: 0;
  }
  .content {
    padding: 30px;
  }
  .card-grid {
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .card {
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
  }
  .card-title {
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #034078
  }
  .state {
    font-size: 1.2rem;
    color:#1282A2;
  }

  .stats {
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }

  .header {
    margin: 1rem auto auto auto;
    display: inline-block;
    width: 30%;
    height: 17rem;
    vertical-align: top;
  }

  .horizontal{
    display: inline-block;
    margin: 0 1rem;
  }

  form {
    margin: 1rem;
  }

  select {
    margin: 1rem;
    width: 7rem;
  }

  .updateStats {
    margin: 1rem;
  }

  .interval {
    padding-top: 3rem;
  }
